<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>springboot学习</title>
</head>

<body>
<h2>测试日志</h2>
<div th:each="item : ${level}">
    <p><a th:text="${{item}}"></a></p>
    </div>
</body>
</html>
